<h1>User List</h1>
<% @users.each do |user| %>
 <table>
   <tr>
     <td><%= user.email %></td>
     <td><%=link_to "show", user_path(user), class: 'navbar-link' %> </td>
     <td><%= link_to 'Edit', edit_user_registration_path, class: 'navbar-link' %> </td>
   </tr>
 </table>
<% end %>

<%= link_to t('views.common.back'), books_path %>
